*{
    text-decoration: none;
}
body{
    margin: auto;
    max-width: 80%;;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(67, 67, 165);

}
img{
    margin-top: 2em;
    background-color: #ffff;
}
.blanks{
    margin-bottom: 4em ;
    width: 50em;
    height: 2rem;
}
a, .links{
    display: flex;
    margin-bottom: 2em;
    flex-direction: column;
    color: red;
}
  .button{
            background-color: red;
            color: white
         }
@media (max-width: 700px){ 

         body{
            max-width: 80%;
            margin: auto;
            font-size: 15px;
            padding: 0;

         }
         .blanks{
            width: 23em;
            height: 30px;   
            margin-bottom: 3em;
            border: #00000011 solid 5px;

         }
       
          p,h2{
            width: 23em
         }
         
}